%header#top_header.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{ data: {toggle: "collapse", target: ".nav-collapse"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = current_user.home_link('BRAND')    
      .nav-collapse
        %ul#pages_menu.nav
          = render @pages
        %ul#session_control.nav.pull-right
          %li= current_user.session_control